@use "inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use "inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@import "@fontsource/urbanist/500.css";
@include default.all;
@include variable.all;

@import "vars";
@import "style";
@import "components/MenuBar";
@import "components/lower_card";
@import "components/popup_list";
@import "components/calibration_slider";