$white: #F8F1FF;
$orange: #FEA82F;
$red: #D62246;
$secondary: #3A506B;
$primary: #5DA9E9;
$dark: #242424;
$menu-bar-time: 250ms ease-out;
$skyblue: linear-gradient(#5DA9E9, #3A506B 95%);


$nav-color: $secondary;
$nav-accent: $primary;