@import "style/vars";

.slide-container {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $dark;
  z-index: 100;
  display: block;
  transition: top 200ms ease;
}
.slide-container[visible="true"] {
  top: 0vh;
}

.slide-container > * {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  transition: left 200ms ease;
  overflow: hidden;
}
.slide-container > *[visible="true"] {
  top: 0;
  left: 0;
  --animation-duration: 10s;
  --animation-duration2: 10s;
}

.slide-container > div > section > nav {
  background: adjust-color($dark, $alpha: -0.6);
  z-index: 10;
  display: flex;
  position: absolute;
  top: calc(100vh - 12em);
  padding: 1em 1.5em;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  min-width: calc(100vw - 3em);
  min-height: 12em;
}

.slide-container > div > section > nav > button {
  width: 32px;
}


.slide-container > div > section {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-container {
  --animation-duration: 24h;
  --animation-duration2: 24h;
  margin: 0;
  padding: 0;
  background: $skyblue;

  main {
    position: relative;
    height: 100vh;
    aspect-ratio: 9/16;
    transform-style: flat;
    perspective: 900px;
    transform: translateZ(0);
    margin: auto;
    z-index: 0;
  }

  svg {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: auto;
    transform-origin: bottom;
  }

  [data-ref="slide1"] {
    #sun {
      bottom: 50%;
      left: 40%;
      height: 15%;
      z-index: 0;
      animation: sun var(--animation-duration) ease-in-out infinite;
      transform: translateZ(0);
    }

    #leftHand {
      height: 80%;
      bottom: -17%;
      left: -30%;
      transform: translateX(-100%) translateZ(900px);
      animation: leftHand var(--animation-duration) ease-in-out infinite;
      z-index: 900;
    }

    #handedPhone {
      bottom: -20%;
      left: 25%;
      animation: handedPhone var(--animation-duration) ease-in-out infinite;
      z-index: 500;
      transform: translateZ(500px);
    }

    @keyframes sun {
      0% {
        transform: translateY(-200%);
      }

      10% {
        transform: translateY(0);
      }

      20% {
        transform: translateX(-10%);
      }

      30% {
        transform: translateX(10%);
      }

      40% {
        transform: translateX(0);
      }

      70% {
        transform: translateY(0);
      }

      85% {
        transform: translateY(-200%);
      }

      100% {
        transform: translateY(-200%);
      }
    }

    @keyframes leftHand {
      40% {
        transform: translateX(-100%);
      }

      55% {
        transform: translateX(0) rotate3d(1, 0, 0, 0deg);
      }

      60% {
        transform: translateX(0) rotate3d(1, 0, 0, 5deg);
      }

      65% {
        transform: translateX(0) rotate3d(1, 0, 0, 0deg);
      }

      70% {
        transform: translateX(-100%);
      }
    }

    @keyframes handedPhone {
      0% {
        transform: rotate3d(1, 0, 0, 30deg);
      }

      10% {
        transform: rotate3d(1, 0, 0, 0deg);
      }

      20% {
        transform: rotate3d(0, 1, 0, -10deg);
      }

      30% {
        transform: rotate3d(0, 1, 0, 10deg);
      }

      40% {
        transform: rotate3d(0, 1, 0, 0deg);
      }

      70% {
        transform: rotate3d(1, 0, 0, 0deg);
      }

      85% {
        transform: rotate3d(1, 0, 0, 30deg);
      }

      100% {
        transform: rotate3d(1, 0, 0, 30deg);
      }
    }

  }
}
[data-ref="slide2"] {

  background: adjust-color($dark, $lightness: 50%);

  #leftHand2 {
    height: 130%;
    bottom: -80%;
    left: -100%;
    transform: translateX(-100%);
    animation: leftHand2 var(--animation-duration2) ease-in-out infinite;
  }

  #handedPhone2 {
    height: 150%;
    bottom: -70%;
    left: 14%;
    transform-origin: center;
    animation: handedPhone2 var(--animation-duration2) ease-in-out infinite;
  }

  #legs2 {
    bottom: -20%;
    left: -25%;
    transform: scale(0.8);
  }

  @keyframes leftHand2 {
    40% {
      transform: translateX(-100%);
    }

    55% {
      transform: translateX(0) rotate3d(1, 0, 0, 0deg);
    }

    60% {
      transform: translateX(0) rotate3d(1, 0, 0, 5deg);
    }

    65% {
      transform: translateX(0) rotate3d(1, 0, 0, 0deg);
    }

    70% {
      transform: translateX(-100%);
    }
  }

  @keyframes handedPhone2 {
    0% {
      transform: translateX(30%) rotate3d(1, 0, 0, -30deg);
    }

    10% {
      transform: translateX(30%) rotate3d(1, 0, 0, -30deg);
    }

    40% {
      transform: rotate3d(0, 1, 0, 0deg);
    }

    70% {
      transform: rotate3d(1, 0, 0, 0deg);
    }

    100% {
      transform: translateX(30%) rotate3d(1, 0, 0, -30deg);
    }
  }
}
.slide-container > div:first-of-type {
  z-index: 1;
}
.slide-container > video:first-of-type {
  z-index: 2;
}
.slide-container > div:nth-of-type(2) {
  z-index: 3;
}
.slide-container > video:nth-of-type(2) {
  z-index: 4;
}

.slide-container > video {
  background: red;
  width: 100vw;
  height: 100vh;
}


@media (prefers-color-scheme: light) {
  .slide-container > div > section > nav {
    background: adjust-color($white, $alpha: -0.1);
    color: $dark;
  }
}