@import "style/vars";
lower-card {
  .container {
    background: $dark;
    color: $white;
    z-index: 4;
    width: 100vw;
    bottom: 0;
    height: 0;
    position: absolute;
    left: 0;
    transition: all $menu-bar-time;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .cover {
    transition: opacity $menu-bar-time;
    background: adjust-color($dark, $alpha: -0.8, $lightness: -15%);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }

  //noinspection CssUnusedSymbol
  .cover.open {
    opacity: 0.8;
    pointer-events: auto;
  }

  //noinspection CssUnusedSymbol
  .container.open {
    height: 60vh;
    overflow-y: auto;
  }

  div {
    ul {
      padding: 0 1em;
      li:last-of-type {
        border-bottom: none;
      }
      li {
        list-style-type: none;
        display: grid;
        width: 100%;
        border-bottom: 1px solid adjust-color($tertiary, $saturation: -20%);
        grid-template-columns: auto 2em;
        margin: 0.5em 0;
        cursor: pointer;
        * {
          grid-column: 1;
          text-align: left;
        }
        .chevron {
          grid-column: 2;
          grid-row: 1 / 3;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h1 {
          font-size: 1em;
          padding: 0;
          margin: 0;
        }
        sub {
          font-size: 0.7em;
        }
      }
    }
  }
  @media (prefers-color-scheme: light) {
    .container {
      background-color: $white;
      color: $dark;
    }
  }
}