@import "style/vars";

//noinspection CssUnusedSymbol
menu-bar > .container {
  background: $nav-color;
  color: $white;
  z-index: 5;
  width: 100%;
  bottom: 0;
  height: 48pt;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  transition: bottom $menu-bar-time;
  box-shadow: $dark 0 -5px 5px;
}

//noinspection CssUnusedSymbol
menu-bar > .container > .button {
  $btn-color: $nav-color;
  display: grid;
  max-width: 25vw;
  grid-template-rows: 50% 20%;
  justify-items: center;
  align-content: center;
  opacity: 1;
  transition: background-color 250ms ease-out;
  background: $nav-color;
  padding: 2pt 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

//noinspection CssUnusedSymbol
menu-bar > .container > .button-large.button {
  cursor: default;
  overflow: auto;
}
menu-bar > .container > .button-large > img {
  max-height: min(48pt, 10vw);
  width: min(48pt, 10vw);
  aspect-ratio: 1;
  border-radius: 50%;
  background: $nav-accent;
  position: absolute;
  z-index: 6;
  bottom: 1.5em;
  padding: 1em;
  transition: background-color 250ms ease-out;
  cursor: pointer;
  box-shadow: $dark 0 0 10px;
  left: calc(calc(50vw - calc(min(48pt, 10vw) / 2)) - 1em)
}
menu-bar > .container > .button > span {
  font-size: 12pt;
  height: 12pt;
}
menu-bar > .container > .button > i {
  align-self: center;
  margin-bottom: 5pt;
}

//noinspection CssUnusedSymbol
menu-bar > .container > .button:hover:not(.button-large) {
  background: adjust-color($nav-color, $lightness: +10%);
}

//noinspection CssUnusedSymbol
menu-bar > .container > .button:active:not(.button-large) {
  background: adjust-color($nav-color, $lightness: -20%);
}

menu-bar > .container > .button-large.button > img:hover {
  background: adjust-color($nav-accent, $lightness: +10%);
}
menu-bar > .container > .button-large.button > img:active {
  background: adjust-color($nav-accent, $lightness: -20%);
}

//noinspection CssUnusedSymbol
menu-bar > .container.open {
  bottom: 60vh;
}


@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  menu-bar > .container {
    padding-bottom: 16pt;
    transition: padding-bottom $menu-bar-time, bottom $menu-bar-time;
  }
  menu-bar > .container.open {
    padding-bottom: 0;
  }
}
